#*.foreground: #F8F8F2
#*.background: #282A36
#*.color0:     #000000
#*.color8:     #4D4D4D
#*.color1:     #FF5555
#*.color9:     #FF6E67
#*.color2:     #50FA7B
#*.color10:    #5AF78E
#*.color3:     #F1FA8C
#*.color11:    #F4F99D
#*.color4:     #BD93F9
#*.color12:    #CAA9FA
#*.color5:     #FF79C6
#*.color13:    #FF92D0
#*.color6:     #8BE9FD
#*.color14:    #9AEDFE
#*.color7:     #BFBFBF
#*.color15: #E6E6E6
! special
*.foreground:   #586e75
*.background:   #fdf6e3
*.cursorColor:  #586e75

! black
*.color0:       #002b36
*.color8:       #657b83
! red
*.color1:       #dc322f
*.color9:       #dc322f
! green
*.color2:       #859900
*.color10:      #859900
! yellow
*.color3:       #b58900
*.color11:      #b58900
! blue
*.color4:       #268bd2
*.color12:      #268bd2
! magenta
*.color5:       #6c71c4
*.color13:      #6c71c4
! cyan
*.color6:       #2aa198
*.color14:      #2aa198
! white
*.color7:       #93a1a1
*.color15:      #fdf6e3


URxvt.scrollBar: false
URxvt.internalBorder: 15
*.internalBorder: 15
URxvt.font: xft:Hack:size=9
URxvt.letterSpace: -1
*.font: xft:Hack:size=9

rofi.color-enabled: true
rofi.color-window: #f8eff1, #f8eff1, #f8eff1
rofi.color-normal: #f8eff1, #20152c, #f8eff1, #f8eff1, #c65e6a
rofi.color-active: #f8eff1, #b48ead, #f8eff1, #f8eff1, #93e5cc
rofi.color-urgent: #f8eff1, #ebcb8b, #f8eff1, #f8eff1, #ebcb8b
